<% @page_title = "Delete Resouce" %>

<%= link_to "<< Back to Resource List", {:controller =>"resources", :action => "index"}, :class => "back-link" %>

<div class = "resource delete">

	<h2> Delete Resource </h2>

	<%= form_for(:resource, :url=>{:action => "destroy", :id => @resource}) do |f|%>
		<p> Are you sure you want to permenently delete this Resource ? </p>
		<p> <%= @resource.name%> </p>
		<div class="form-buttons">
			<%= submit_tag("Delete")%>
		</div>
	<%end%>

</div>